.increase-card{
 
position: fixed;
display: none;
width: 100vw;
height: 100vh;
top: 0px;
background-color:rgba(0,0,0,.3);
}
.increase-card__photo{
 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

max-height: 80vh;
max-width: 80vw;
align-items: center;
  justify-content: center;
background-repeat: no-repeat;


}

.increase-card__close{
  
width: 26px;
position: absolute;
cursor: pointer;

}
.increase-card__open{
  display: block;
}


